#main-nav {
  height: var(--nav-height);
  z-index: 500;

  .home-link {
    svg {
      width: 175px;

      @media screen and (min-width: theme("screens.lg")) {
        width: 250px;
      }
    }
  }

  .links {
    a {
      margin-left: 1.7rem;
      display: flex;
      align-items: center;
      transition: color .3s;

      svg {
        width: 1rem;
        margin-right: .65rem;
        
        path,
        polygon {
          transition: fill .3s;
        }
      }

      &:first-child {
        margin-left: 0rem;
      }

      &.active {
        svg {
          polygon {
            fill: theme('colors.merlot');
          }
        }
      }
    }
  }

  &.default {
    .home-link {
      svg {
        path {
          fill: theme('colors.parchment');
        }
      }
    }
    
    .links {
      a {
        color: theme('colors.parchment');

        svg {
          path {
            fill: theme('colors.parchment');
          }
        }

        &.active {
          svg {
            polygon {
              fill: theme('colors.parchment');
            }
          }
        }
      }
    }
  }

  &.merlot {
    .home-link {
      svg {
        path {
          fill: theme('colors.merlot');
        }
      }
    }

    .links {
      a {
        color: theme('colors.merlot');

        svg {
          path {
            fill: theme('colors.merlot');
          }
        }

        &.active {
          svg {
            polygon {
              fill: theme('colors.merlot');
            }
          }
        }
      }
    }
  }

  .mobile-button {
    svg {
      width: 1.4rem;
    }
  }
}

#mobile-menu {
  z-index: 600;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;

  & > div:first-child {
    background-color: theme('colors.periwinkle');
    border-radius: var(--border-radius);
  }

  .x {
    svg {
      width: 1.6rem;
    }
  }

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

#footer {
  .top {
    margin-bottom: 110px;

    @media screen and (min-width: theme("screens.lg")) {
      margin-bottom: 400px;
    }
  }

  .logo {
    svg {
      width: 54px;

      @media screen and (min-width: theme("screens.lg")) {
        width: 110px;
      }
    }
  }
}

.main-cursor {
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transition: transform .1s;

  svg {
    width: 4rem;
  }
}

.def-image {
  opacity: 0;
  transition: opacity .3s;

  &.loaded {
    opacity: 1;
  }
}

.load-overlay {
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;

  svg:first-child {
    width: calc(100% - 20px);
    position: relative;
    top: 10px;
  }

  svg:nth-child(2) {
    width: calc(100% - 20px);
    position: relative;
    top: 10px;
  }

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}