#main-nav {
  height: var(--nav-height);
  z-index: 500;
  transition: background-color .6s, opacity .3s;

  .home-link {
    svg {
      width: 175px;

      @media screen and (min-width: theme("screens.lg")) {
        width: 250px;
      }

      path {
        transition: fill .3s;
      }
    }
  }

  .links {
    a {
      margin-left: 1.7rem;
      display: flex;
      align-items: center;
      transition: color .3s;

      svg {
        width: 1rem;
        margin-right: .65rem;
        
        path,
        polygon {
          transition: fill .3s;
        }
      }

      &:first-child {
        margin-left: 0rem;
      }

      &.active {
        svg {
          polygon {
            fill: theme('colors.merlot');
          }
        }
      }

      &:hover {
        @media screen and (min-width: theme("screens.lg")) {
          svg {
            polygon {
              fill: theme('colors.merlot');
            }
          }
        }
      }
    }
  }

  &.transparent-parchment,
  &.merlot {
    .home-link {
      svg {
        path {
          fill: theme('colors.parchment');
        }
      }
    }
    
    .links {
      a {
        color: theme('colors.parchment');

        svg {
          path {
            fill: theme('colors.parchment');
          }
        }

        &.active {
          svg {
            polygon {
              fill: theme('colors.parchment');
            }
          }
        }

        &:hover {
          @media screen and (min-width: theme("screens.lg")) {
            svg {
              polygon {
                fill: theme('colors.merlot');
              }
            }
          }
        }
      }
    }

    .mobile-button {
      svg {
        path {
          fill: theme('colors.parchment');
        }
      }
    }
  }

  &.transparent-parchment {
    &.hovered {
      background-color: theme('colors.parchment');

      .home-link {
        svg {
          path {
            fill: theme('colors.merlot');
          }
        }
      }

      .links {
        a {
          color: theme('colors.merlot');

          svg {
            path {
              fill: theme('colors.merlot');
            }
          }

          &.active {
            svg {
              polygon {
                fill: theme('colors.merlot');
              }
            }
          }
        }
      }
    }
  }

  &.merlot {
    &.hovered {
      background-color: theme('colors.merlot');
    }
  }

  &.transparent-merlot,
  &.coral,
  &.periwinkle {
    .home-link {
      svg {
        path {
          fill: theme('colors.merlot');
        }
      }
    }

    .links {
      a {
        color: theme('colors.merlot');

        svg {
          path {
            fill: theme('colors.merlot');
          }
        }

        &.active {
          svg {
            polygon {
              fill: theme('colors.merlot');
            }
          }
        }
      }
    }

    .mobile-button {
      svg {
        path {
          fill: theme('colors.merlot');
        }
      }
    }
  }

  &.transparent-merlot {
    &.hovered {
      background-color: theme('colors.parchment');
    }
  }

  &.coral {
    &.hovered {
      background-color: theme('colors.coral');
    }
  }

  &.periwinkle {
    &.hovered {
      background-color: theme('colors.periwinkle');
    }
  }

  .mobile-button {
    svg {
      width: 1.4rem;
    }
  }
}

#mobile-menu {
  z-index: 600;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;

  & > div:first-child {
    background-color: theme('colors.periwinkle');
    border-radius: var(--border-radius);
  }

  .x {
    svg {
      width: 1.1rem;
    }
  }

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

#footer {
  height: auto;
  min-height: 100vh;
  z-index: 10;

  @media screen and (min-width: theme("screens.lg")) {
    height: 100vh;
  }

  .top {
    margin-bottom: 110px;

    @media screen and (min-width: theme("screens.lg")) {
      margin-bottom: 0px;
    }
  }

  .logo {
    svg {
      width: 54px;

      @media screen and (min-width: theme("screens.lg")) {
        width: 110px;
      }
    }
  }

  .footer-link {
    display: flex;
    align-items: center;

    svg {
      width: 1rem;
      margin-right: 0.65rem;

      path {
        fill: theme('colors.parchment');
      }

      polygon {
        fill: none;
        transition: fill .3s;
      }
    }

    &:hover {
      @media screen and (min-width: theme("screens.lg")) {
        svg polygon {
          fill: theme('colors.parchment');
        }
      }
    }
  }
}

.main-cursor {
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  transition: transform .1s, opacity .3s;

  svg {
    width: 4rem;
  }

  .hide-cursor & {
    opacity: 0;
  }
}

.def-image {
  opacity: 0;
  transition: opacity .3s;

  &.loaded {
    opacity: 1;
  }
}

.load-overlay {
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  // transition: opacity .3s;

  img {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 15rem;

    @media screen and (min-width: theme("screens.lg")) {
      width: 25rem;
      bottom: 20px;
      left: 20px;
    }
  }

  &.open {
    opacity: .9;
    pointer-events: auto;
  }
}

.contact-modal-container {
  z-index: 2000;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;

  .contact-modal {
    width: 100%;
    height: 100%;

    &-x {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      z-index: 10;

      svg {
        width: 1.1rem;

        @media screen and (min-width: theme("screens.lg")) {
          width: 1.6rem;
        }
      }
    }

    &-title {
      position: sticky;
      top: 20px;
    }

    & > div {
      overflow-y: auto;
      height: 100%;

      &::-webkit-scrollbar-thumb {
        background-color : transparent;
      }

      &::-webkit-scrollbar-track {
          background-color : transparent;
      }

      &::-webkit-scrollbar {
          width : 0px;
      }
    }
  }

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}