@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 50px;
  --mobile-nav-height: 50x;
  --curve: cubic-bezier(0, 0.84, 0.24, 1);
  --border-radius: 1rem;
}

@layer base {
  html {
    font-size: 10px;
  }
}

@import 'global/fonts';
@import 'global/style-guide';