.home {
  .hero {
    position: relative;
    overflow: hidden;
    padding-bottom: 206%;

    @media screen and (min-width: theme("screens.lg")) {
      padding-bottom: 61.6%;
    }

    & > div:first-child {
      opacity: 0;
      transition: opacity 1s;
    }

    &.loaded {
      & > div:first-child {
        opacity: 1;
      }
    }
  }
}

.info {
  margin-bottom: 90vh;
}

.directors-title {
  position: sticky;
  top: 100px;
}

.director-detail {
  min-height: 100vh;
  
  .director-title {
    z-index: 200;
    // transition: opacity .6s;
    opacity: 1;
    animation: fadeOut .4s forwards;
    animation-delay: 1.5s;

    // &.hide-title {
    //   opacity: 0;
    // }
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.director-film {
  .director-film-image {
    padding-bottom: 56.25%;

    & > div {
      border-radius: var(--border-radius);
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      pointer-events: none;
      border: 2px solid theme('colors.coral');
      border-radius: var(--border-radius);
      opacity: 0;
      transition: opacity .3s;
    }
  }

  .director-film-image-inner {
    z-index: 1;
    opacity: 1;
    transition: opacity .3s;
    transition-delay: .1s;
  }

  .plus {
    opacity: 1;
    transition: opacity .3s;
    z-index: 10;

    @media screen and (min-width: theme("screens.lg")) {
      opacity: 0;
    }

    span:first-child {
      font-size: 8rem;
    }
  }

  &.show-video {
    .director-film-image-inner {
      opacity: 0;
      // transition-delay: 200ms;
    }
  }

  &:hover {
    .director-film-image {
      &:before {
        opacity: 1;
      }
    }

    .plus {
      opacity: 1;
    }
  }
}

.films-marquee {
  position: sticky;
  bottom: 0px;
}

.film-item {
  padding-bottom: 56.25%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.event-slider {
  height: 260px;

  @media screen and (min-width: theme("screens.lg")) {
    height: auto;
  }
}

.event-detail-item {
  // @media screen and (min-width: theme("screens.lg")) {
  //   min-height: 380px;
  // }

  .event-border {
    & > div {
      border-top: 1px solid transparent;
      animation: border-fade 1.5s forwards;
      animation-delay: 1s;
    }
  }

  .event-detail-grid {
    @media screen and (min-width: theme("screens.lg")) {
      min-height: 380px;
    }
  }
}

.film-detail-item {
  border-top: 1px solid transparent;
  animation: border-fade 1.5s forwards;
  animation-delay: 1s;

  .film-image {
    padding-bottom: 56.25%;
    border-radius: var(--border-radius);
    overflow: hidden;

    .film-awards-image {
      background-color: rgba(105, 68, 255, .9);
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s;
    }

    &:hover {
      @media screen and (min-width: theme("screens.lg")) {
        .film-awards-image {
          opacity: 1;
        }
      }
    }
  }
}

@keyframes border-fade {
  from {
    border-top: 1px solid theme('colors.parchment');
  }

  to {
    border-top: 1px solid theme('colors.merlot');
  }
}

.clients {
  list-style: none;
  
  li {
    width: 50%;
  }
}

.bg-vid {
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;

  &.loaded {
    opacity: 1;
  }
}

.bg-image {
  z-index: -1;
}

.main-video {
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: black;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.play {
  svg {
    width: 4.3rem;

    @media screen and (min-width: theme("screens.lg")) {
      width: 6.3rem;
    }
  }
}

.video-poster {
  opacity: 1;
  transition: opacity .3s;
  pointer-events: auto;

  &.started {
    opacity: 0;
    pointer-events: none;
  }
}

.modal-container {
  z-index: 1100;

  .modal-x {
    svg {
      width: 1rem;

      path {
        fill: theme('colors.parchment');
      }
    }
  }
}

.event-slider .community-slider {
  padding-left: 1rem;

  @media screen and (min-width: theme("screens.lg")) {
    padding: 0px;
  }

  .community-slide {
    width: auto;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;

    img {
      width: auto;
      height: 100%;
    }
  }
}

.contact-diamond svg {
  width: 1rem;
}

.contact-logo svg {
  width: 4rem;

  @media screen and (min-width: theme("screens.lg")) {
    width: 7.6rem;
  }
}

.contact-h1 {
  position: sticky;
  top: 100px;
}

.director-info {
  & > div:first-child {
    @media screen and (min-width: theme("screens.lg")) {
      padding-bottom: 56.25%;
    }
  }
}