.home {
  .hero {
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
    padding-bottom: 206%;

    @media screen and (min-width: theme("screens.lg")) {
      padding-bottom: 61.6%;
    }

    &.loaded {
      opacity: 1;
    }
  }
}

.directors-title {
  position: sticky;
  top: 100px;
}

.director-detail {
  min-height: 100vh;
  
  .director-title {
    z-index: 200;
  }
}

.director-film {
  .director-film-image {
    padding-bottom: 56.25%;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
}

.films-marquee {
  position: sticky;
  bottom: 0px;
}

.film-item {
  padding-bottom: 56.25%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.event-slider {
  height: 260px;

  @media screen and (min-width: theme("screens.lg")) {
    height: auto;
  }
}

.event-detail-item {
  @media screen and (min-width: theme("screens.lg")) {
    min-height: 380px;
  }

  .event-border {
    & > div {
      border-top: 1px solid transparent;
      animation: border-fade 1.5s forwards;
      animation-delay: 1s;
    }
  }
}

.film-detail-item {
  border-top: 1px solid transparent;
  animation: border-fade 1.5s forwards;
  animation-delay: 1s;

  .film-image {
    padding-bottom: 56.25%;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
}

@keyframes border-fade {
  from {
    border-top: 1px solid theme('colors.parchment');
  }

  to {
    border-top: 1px solid theme('colors.merlot');
  }
}

.clients {
  list-style: none;
  
  li {
    width: 50%;
  }
}

.bg-vid {
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;

  &.loaded {
    opacity: 1;
  }
}

.bg-image {
  z-index: -1;
}

.main-video {
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: black;
}

.play {
  svg {
    width: 6.3rem;
  }
}

.video-poster {
  opacity: 1;
  transition: opacity .3s;
  pointer-events: auto;

  &.started {
    opacity: 0;
    pointer-events: none;
  }
}

.modal-container {
  z-index: 1100;

  .modal-x {
    svg {
      width: 1rem;

      path {
        fill: theme('colors.parchment');
      }
    }
  }
}

.community-slider {
  padding-left: 1rem;

  @media screen and (min-width: theme("screens.lg")) {
    padding: 0px;
  }

  .community-slide {
    width: auto;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;

    img {
      width: auto;
      height: 100%;
    }
  }
}